
                     /*  HERO */
.hero-exp-container {
  height: 75vh;
  /* width: 100%; */
  padding: 0;
}

.hero-exp-bg {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
}
.hero-exp-bg::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../../assets/expeditionAssets/exp-pic.jpg');
  background-size: cover;
  background-size: cover;
  opacity: 0.7;
  /* filter: grayscale(100%); */
}


.exp-content-wrapper {
  width: 80%;
  /* height: 50%; */
  position: relative;
  /* border: 2px red solid; */
}

/* .ts-heading {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: black !important;
  padding: .75em;
} */

.exp {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* border: 2px blue solid; */
}


.exp-content {
  height: 25em;
  /* height: em; */
  width: 35em;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  /* border: 2px green solid; */

}

.exp-content h1 {
  font-size: 3.5em;
  text-shadow: 1px 1px black;
}

.exp-content p {
  /* display: inline-block; */
  padding: 1.7em;
  font-size: 1.1em;
  line-height: 1.7em;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
}


.exp-background-image2 {
  background-color: #3C7473;
  background-position: center;
  background-size: cover;
  display: inline-block;
}



                  /* ----------------MID -----------------*/

.mid-exp-container {
  display: flex;
  flex-direction: column;
  height: 85em;
  margin-top: 2em;
  /* position: relative; */
}

.mid-exp-content {
  /* flex-basis: 1; */
  padding: 7em 3em;
  width: 50%;
  /* border: 2px solid red; */
  
}
.mid-exp-content-photo {
  /* flex-basis: 1; */
  
  
}

.mid-exp-wrapper {
  /* padding: 0em 5em; */
  padding: 0em 3em;
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row; */
  /* flex: 1; */
  /* border: 2px solid aqua; */
}

.exp-background-img {
  background-image: url('../../assets/expeditionAssets/exp-horse.jpg');
  background-position: center;
  background-size: cover;
  padding: 0em .5em;
  width: 50%;
  height: 90%;
  /* margin: 0px 5px; */
  /* border: 2px solid red; */
  
}

.ex-color-opacity {
  background-color: rgba(161, 146, 59, 0.4);
  width: 100%;
  height: 100%;
}
.exp-background-img2 {
  height: 90%;
  background-image: url('../../assets/expeditionAssets/exp-girls.jpg');
  background-position: center;
  background-size: cover;
  /* padding: 2em 3em; */
  /* margin: 2em 3em; */
  width: 50%;
  /* border: 2px solid red; */

}

.ex-color-opacity2 {
  background-color: rgba(162, 90, 81, 0.4);
  width: 100%;
  height: 100%;
}

.mid-exp-container h1 {
  font-size: 3em;
}
.mid-exp-container p {
  font-size: 1.25em;
  line-height: 1.5;
}

              /* --------PURPLE CONTAINER ------------ */

.purple-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 35em;
  background-color: rgb(103, 56, 93);
  padding-top: 2em;
  /* border: 2px solid orange; */
}

.purple-words {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  color: white;
  /* border: 1px green solid; */
  width: 55%;
  /* margin-left: 5em; */
  text-align: center;
}

.purple-words h1 {
  
  font-size: 2.5em;
}
.purple-words p {
  
  font-size: 1.15em;
  width: 60%;
  margin: 0 auto;
}

.purple-pics-wrapper {
  margin-right: 5em;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  padding-top: 1.7em;
}

.purp-img-flex {
  /* border: 1px green solid; */
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.purple-img1 {
  justify-content: center;
  /* border: 2px yellow solid; */
  background-image: url('../../assets/expeditionAssets/exp-girls.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
  
}
.purple-img2 {
  justify-content: center;
  /* border: 2px yellow solid; */
  background-image: url('../../assets/expeditionAssets/exp-family.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
  /* margin-top: 2em; */
}
.purple-img3 {
  justify-content: space-around;
  /* border: 2px yellow solid; */
  background-image: url('../../assets/carousel-pic2.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
}
.purple-img4 {
  
  /* border: 2px yellow solid; */
  background-image: url('../../assets/expeditionAssets/exp-pic.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
}
.purple-img5 {
  justify-content: space-around;
  /* border: 2px yellow solid; */
  background-image: url('../../assets/carousel-pic4.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
}
.purple-img6 {
  justify-content: space-around;
  /* border: 2px yellow solid; */
  background-image: url('../../assets/Images/city-buildings.jpg');
  background-position: center;
  background-size: cover;
  width: 16em;
  height: 80%;
  
}

@media (max-width: 1024px) {
  /* MED HERO Container */

  * {
    padding: 0;
    margin: 0;
                    
  }
.hero-exp-container {
height: 100vh;
padding: 0;
}

.hero-exp-bg {
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
place-items: center;
color: white;
position: relative;
/* border: red 2px solid; */
}
.hero-exp-bg::before {
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
background: url('../../assets/expeditionAssets/exp-pic.jpg');
background-size: cover;
background-size: cover;
opacity: 0.7;
/* filter: grayscale(100%); */
}


.exp-content-wrapper {
width: 100%;
position: relative;
/* border: 2px green solid; */
}

/* .ts-heading {
display: flex;
justify-content: center;
font-size: 3em;
color: black !important;
padding: .75em;
} */

.exp {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
/* border: 2px blue solid; */
}

.exp-content {
height: 50vh;
/* height: em; */
width: 100%;
padding: 10px 30px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
/* border: 2px solid black; */
/* border: 2px green solid; */

}
.exp-content-mob-color {
height: 50vh;
/* height: em; */
width: 100%;
padding: 5px 20px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
/* border: 2px solid black; */
/* border: 2px green solid; */

}


.exp-content h1 {
font-family: 'Oxygen', sans-serif;
font-size: 3em;
text-shadow: 1px 1px black;
padding: 0em 2.5em;
}

.exp-content p {
/* display: inline-block; */
/* padding: 2em; */
font-family: 'Raleway', sans-serif;
font-size: 1.75em;
line-height: 1.7em;
}
/* 
.title-mob {
font-weight: bold;
margin-bottom: 6px;
font-size: 22px;
color: #4a4a4a;
} */

/* .subtitle-mob {
font-weight: lighter;
font-size: 16px;
} */


.exp-background-image2 {
background-color: #3C7473;
background-position: center;
background-size: cover;
display: inline-block;
opacity: 0.7;
}

    /* ---------  MED MIDDLE Section  ----------- */

    .mid-exp-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      /* margin-top: 2em; */
      /* padding-right: 1em; */
      
      /* border: purple 2px solid; */
      /* position: relative; */
    }
    
    .mid-exp-content {
      /* flex-basis: 1; */
      /* padding: 7em 3em; */
      width: 100%;
      padding: 1.5em;
      font-size: 1.5em;

      /* border: 2px solid red; */
      
    }
    .line {
      background-color: #3C7473;
      width: 75%;
      height: .5em;
      margin: .5em auto;
      border-radius: 5px;
    }
    
    .line-center-exp {
      height: 20px;
    }
    
    
    .mid-exp-content-photo {
      /* flex-basis: 1; */
      
      
    }
    
    .mid-exp-wrapper {
      padding: 0em 2em;
      /* padding-left: 4em; */
      display: flex;
      flex-flow: row wrap;
      /* flex-direction: row; */
      /* flex: 1; */
      /* border: 2px solid aqua; */
      margin-top: 0;
    }
    
    .exp-background-img {
      background-image: url('../../assets/expeditionAssets/exp-horse.jpg');
      background-position: center;
      background-size: cover;
      /* padding: 0em .5em; */
      width: 100%;
      height: 30em;
      margin: 1.5em 0px;
      /* border: 2px solid red; */
      text-align: center;
      
    }
    
    .ex-color-opacity {
      background-color: rgba(161, 146, 59, 0.4);
      width: 100%;
      height: 100%;
    }
    .exp-background-img2 {
      height: 30em;
      background-image: url('../../assets/expeditionAssets/exp-girls.jpg');
      background-position: center;
      background-size: cover;
      /* padding: 2em 3em; */
      /* margin: 2em 3em; */
      width: 100%;
      /* border: 2px solid red; */
    
    }
    
    .ex-color-opacity2 {
      background-color: rgba(162, 90, 81, 0.4);
      width: 100%;
      height: 100%;
    }
    
    .mid-exp-container h1 {
      font-family: 'Oxygen', sans-serif;
      font-size: 1.75em;
      padding-bottom: .25em;
      text-align: center;
    }
    .mid-exp-container p {
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      line-height: 1.5;
      /* text-align: justify; */
    }

    /* -------- MED Purple Section -----------*/

    .purple-container {
      display: flex;
      flex-direction: column;
      padding: 0em 0em;
      /* justify-content: space-around; */
      width: 100%;
      height: 95em;
      background-color: rgb(103, 56, 93);
      /* border: 2px solid orange; */
    }
    
    .purple-words {
      display: flex;
      /* flex: wrap; */
      flex-direction: column;
      justify-content: center;
      color: white;
      /* border: 1px green solid; */
      width: 100%;
      height: 30%;
      padding: 0em 0em ;
      text-align: center;
      margin: 0em;
    }
    
    .purple-words h1 { 
      font-family: 'Oxygen', sans-serif;
      font-size: 2.5em;
      padding: 1em 2em;
    }
    .purple-words p {
      font-family: 'Raleway', sans-serif;

      font-size: 1.5em;
      padding: 0em 2em;
    }
    
    .purple-pics-wrapper {
      margin-right: 5em;
      justify-content: flex-end;
      flex-direction: row;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      /* height: 62vh; */
      height: 75%;
      padding-top: 1.7em;
    }
    
    .purp-img-flex {
      /* border: 1px yellow solid; */
      display: flex;
      flex-direction: row;
      width: 50%;
    }
    
    .purple-img1 {
      justify-content: center;
      /* border: 2px yellow solid; */
      background-image: url('../../assets/expeditionAssets/exp-girls.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 20em;
      margin: 1em 1em;
    }
    .purple-img2 {
      justify-content: center;
      /* border: 2px yellow solid; */
      background-image: url('../../assets/expeditionAssets/exp-family.jpg');
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 20em;
      margin: 1em 1em;
    }
    .purple-img3 {
      justify-content: space-around;
      /* border: 2px yellow solid; */
      background-image: url('../../assets/carousel-pic2.jpg');
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 20em;
      margin: 1em 1em;
    }
    .purple-img4 {
      
      /* border: 2px yellow solid; */
      background-image: url('../../assets/expeditionAssets/exp-pic.jpg');
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 20em;
      margin: 1em 1em;
    }
    .purple-img5 {
      justify-content: space-around;
      /* border: 2px yellow solid; */
      background-image: url('../../assets/carousel-pic4.jpg');
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 20em;
      margin: 1em 1em;
    }
    .purple-img6 {
      justify-content: space-around;
      /* border: 2px yellow solid; */
      background-image: url('../../assets/Images/city-buildings.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 20em;
      margin: 1em 1em;
    }

}