/* --------------- STATS ---------------- */

.stats-body {
  background-image: url('../../assets/Images/statsPic.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: xx-large;
}

.stats-line {
  opacity: 0.7;
  border: 1px solid white;
  width: 18%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.stats-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0em 2em 2em;
  text-shadow: 2px 2px black;
}

.la-single-stat {
  color: white;
  text-align: center;
  width: 33%;
  height: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.stat-name {
  font-size: .85em;
  font-weight: 250;
}

.stat-value {
  font-size: 63px;
  line-height: 1.2;
}
.statsHeader {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-top: 2rem;
}

@media (max-width: 1024px) {
  .stats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0em 1em 2em;
    text-shadow: 2px 2px black;
  }
}