
                    
.tab { margin-left: 40px; }

.tab2 { margin-left: 40px;}

.drop-container{
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* border: 2px solid red; */
column-count: 2;
}

.drop-container p{
  line-height: 2.5
}
           
.drop-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  padding: 10em 10em 10em;
  background: url('../../assets/DropInAssets/DropInHead.jpg');
  background-size: cover;
  color: white;
 }

 .drop-title {
  font-size: 60px;
  height: 7vh;
  text-shadow: 1px 1px black;
}
.drop-word {
  font-size: 60px;
}

.mid-drop-content-top {
  /* flex-basis: 1; */
  padding: 5em 3em 1em 3em;
  width: 50%;
  /* border: 2px solid red; */
  font-size: 18px;
  
  
}
.mid-drop-content-bottom {
  /* flex-basis: 1; */
  padding: 1em 9em 10em 8em;
  width: 100%;
  /* border: 2px solid red; */
  font-size: 18px;
}


.mid-drop-content {
  /* flex-basis: 1; */
  padding: 1em 3em;
  width: 50%;
  /* border: 2px solid red; */
  font-size: 18px;
}
.mid-drop-content-full {
  /* flex-basis: 1; */
  padding: 1em 9em 1em 8em;
  width: 100%;
  font-size: 18px;
  /* border: 2px solid red; */
  
}

.mid-drop-wrapper {
  padding: 0em 5em;
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row; */
  /* flex: 1; */
  /* border: 2px solid aqua; */
}

/* BOXES */

.box1 {
  padding: 300px;
  border: 1px solid #D5C54A;
  background-color: #D5C54A;
  
}
.box2 {
  padding: 100px;
  border: 1px solid #3C7473;
  background-color: #3C7473;
}
.box3 {
  padding: 380px 300px;
  border: 1px solid #67385D;
  background-color: #67385D;
}
.box4 {
  padding: 100px;
  border: 1px solid #973A30;
  background-color: #973A30;
}

.box5 {
  padding: 200px;
  border: 1px solid #D5C54A;
  background-color: #D5C54A;
}

.box6 {
  padding: 130px;
  border: 1px solid #3C7473;
  background-color: #3C7473;
}

.box7 {
  padding: 250px;
  border: 1px solid #67385D;
  background-color: #67385D;
}

.box8 {
  padding: 150px;
  border: 1px solid #973A30;
  background-color: #973A30;
}